## microservices
fastapi[standard]
fastapi-users[beanie]
uvicorn
pydantic-settings
langchain-core

# AI and OpenAI integration
openai==1.52.0
tiktoken==0.8.0
torch==2.6.0

# Azure SDKs
azure-identity==1.19.0
azure-mgmt-resource==23.1.1
azure-ai-documentintelligence==1.0.2
azure-cosmos==4.7.0
azure-search-documents==11.6.0b5
azure-storage-blob==12.23.1
azure-monitor-opentelemetry==1.6.4
azure-ai-textanalytics==5.2.0
azure-ai-evaluation==1.2.0
azure-ai-inference[opentelemetry]==1.0.0b7
azure-ai-projects==1.0.0b7
azure-ai-ml==1.26.0

# HTTPX fix for OpenAI
httpx==0.27.2

# Async and event loop tools
asyncio==3.4.3
tenacity==8.5.0

# OpenTelemetry
opentelemetry-exporter-otlp==1.31.1
opentelemetry-instrumentation-httpx==0.52b1

# evaluators
rapidfuzz==3.12.2
pytest==8.3.4

# python helpers
python-magic==0.4.27
nibabel==5.3.2
pydicom==3.0.1
SimpleITK==2.4.1
scikit-image==0.25.2
scikit-learn==1.6.1
ratelimit==2.2.1
libmagic==1.0.0
matplotlib==3.5.1
numpy==1.26.4